body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;

}

.top-line {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:aliceblue;
    padding: 16px;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding:8px;
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color:aliceblue;
    padding: 32px 30%;
    align-items: center;
}

button {
    background-color: aliceblue;
    border: solid #1f2937;
    border-radius: 8px;
    font-weight: strong;
    color: #1f2937;
    max-width: 50%;
}
.photos-intro {
    background-color: aliceblue;
    color: #1f2937;
    justify-content: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.image {
    width: 20%;
    flex:1
}