body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.top-line {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:aliceblue;
    padding: 16px;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding:8px;
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color:aliceblue;
    padding: 32px 30%;
    align-items: center;
}

button {
    background-color: aliceblue;
    border: solid #1f2937;
    border-radius: 8px;
    font-weight: strong;
    color: #1f2937;
    max-width: 50%;
}
.photos-intro {
    display: flex;
    background-color: aliceblue;
    color: #1f2937;
    justify-content: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:1;
    justify-content: center;
    background-color: aliceblue;
    color: #1f2937;
}

.image {
    max-width:fit-content;
    max-height:fit-content;
}

figure {
    display: flex;
    flex-direction: column;
    border: 2px dotted #1f2937;
    padding: 8px;
    margin:auto;
    max-width: 20%;
    max-height: 100%;
    justify-content: space-between;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: #1f2937;
    padding-left: 30%;
    padding-top: 10%;
    padding-bottom: 10%
    
}

.call-to-action {
    display: flex;
    flex-direction: row;
align-items: center;
    background-color: #1f2937;
    color:aliceblue; 
    margin: 5%;
    padding:16px
}

.call-text {
    display: flex;
    flex-direction: column;
    flex: 4
}

.button {
    display: flex;
    justify-content: flex-end;
    flex: 1
}

.footer {
    display: flex;
    color:#1f2937;
justify-content: center;
}